<h2>Contact</h2>

<b>Author:</b> Paul Bond -
<a href="mailto:paul.bond@york.ac.uk">paul.bond@york.ac.uk</a>

<h2>Citations and References</h2>

<p>
  If you would like to cite us, please use a web reference similar to the following:<br>
  Bond, P. JTSA. (2017). at http://paulsbond.co.uk/jtsa
</p>
<p>
  The five parameter sigmoid equation and parts of the fitting algorithm are derived from MTSA:<br>
  MN Schulz, J Landström, RE Hubbard.
  MTSA—A Matlab program to fit thermal shift data.
  <i>Anal. Biochem.</i> <b>433</b>, 43-47 (2013)
  <a href="https://doi.org/10.1016/j.ab.2012.10.020">DOI</a>
</p>

<h2>Current Version: 0.2.1</p></h2>

<p><b>Version 0.2.1</b> - 08 Aug 2018</p>
<ul>
  <li>Click to change colours in the curve chart</li>
</ul>

<p><b>Version 0.2.0</b> - 19 Jul 2017</p>
<ul>
  <li>Moved data storage handling to localforage</li>
  <li>Added support for a new file format (BioRad CFX 3.1+)</li>
  <li>Added support for well names (A1 or A01 etc) instead of IDs in all file formats</li>
  <li>File download names are now based off the data set name</li>
</ul>

<p><b>Version 0.1.8</b> - 18 May 2017</p>
<ul>
  <li>Added contact information</li>
  <li>Changed branding</li>
</ul>

<p><b>Version 0.1.7</b> - 02 Sep 2016</p>
<ul>
  <li>Improved error handling during file parsing</li>
  <li>Added support for a new file format (Applied Biosystems SDS 2.4)</li>
  <li>Allowed negative fluorescence values to be displayed</li>
</ul>

<p><b>Version 0.1.6</b> - 18 Aug 2016</p>
<ul>
  <li>Relaxed fitting criteria by increasing convergence and interations</li>
  <li>Moved some content from the About page to a Help page</li>
  <li>Added version information in the About page</li>
  <li>Added the ability to import and export processed data sets</li>
  <li>Added a modal dialog for error reporting</li>
  <li>Minor display fixes</li>
  <li>Minor text changes</li>
</ul>

<p><b>Version 0.1.5</b> - 22 Jul 2016</p>
<ul>
  <li>First public release</li>
</ul>
