<h2>Contact</h2>

<b>Author:</b> Paul Bond -
<a href="mailto:paul.bond@york.ac.uk">paul.bond@york.ac.uk</a>

<h2>Current Version: 0.1.8</p></h2>

<p><b>Version 0.1.8</b> - 18 May 2017</p>
<ul>
  <li>Added contact information</li>
  <li>Changed branding</li>
</ul>

<p><b>Version 0.1.7</b> - 02 Sep 2016</p>
<ul>
  <li>Improved error handling during file parsing</li>
  <li>Added support for a new file format</li>
  <li>Allowed negative fluorescence values to be displayed</li>
</ul>

<p><b>Version 0.1.6</b> - 18 Aug 2016</p>
<ul>
  <li>Relaxed fitting criteria by increasing convergence and interations</li>
  <li>Moved some content from the About page to a Help page</li>
  <li>Added version information in the About page</li>
  <li>Added the ability to import and export processed data sets</li>
  <li>Added a modal dialog for error reporting</li>
  <li>Minor display fixes</li>
  <li>Minor text changes</li>
</ul>

<p><b>Version 0.1.5</b> - 22 Jul 2016</p>
<ul>
  <li>First public release</li>
</ul>
